:root {
  --clr-primary: hsl(0 36% 70%);
  --clr-secondary: hsl(0 93% 68%);
  --clr-neutral: hsl(0 6% 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
